.text-color-black {
  color: black;
  --bs-nav-link-color: black !important;
}

.text-color-white {
  color: white !important;
}

.text-color-grey {
  color: grey;
}
.bg-pink {
  background-color: pink;
}

@media (max-width: 768px) {
  .mask {
    padding: 0 20px; /* Adjust padding as needed */
  }
}

/* Custom color */

.btn-pink {
  background-color: #c91775; /* Replace #ff0000 with your desired color value */
}

/* font stuff */
@font-face {
  font-family: Rubik-Regular;
  src: url("/assets/fonts/Rubik-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Rubik-Medium;
  src: url("/assets/fonts/Rubik-Medium.ttf");
  font-weight: medium;
}

@font-face {
  font-family: Rubik-Bold;
  src: url("/assets/fonts/Rubik-Bold.ttf");
  font-weight: bold;
}

.rubik-regular {
  font-family: Rubik-Regular;
}

.rubik-medium {
  font-family: Rubik-Medium;
}

.rubik-bold {
  font-family: Rubik-Bold;
}
